.rooms {
    width: var(--breakpoint-lg);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.roomsWidthSmall {
    grid-column: span 1;
}

.roomsWidthMedium {
    grid-column: span 2;
}

.roomsWidthLarge {
    grid-column: span 3;
}
