.container {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userColorRed {
    background-color: #f5abab;
}

.userColorOrange {
    background-color: #f8cca4;
}

.userColorBlue {
    background-color: #97bff6;
}

.userColorYellow {
    background-color: #f8e4a5;
}

.userColorGreen {
    background-color: #90caa9;
}

.userColorPurple {
    background-color: #ddb5ec;
}

.userColorCyan {
    background-color: #b7e7cb;
}

.userColorSkyBlue {
    background-color: #aae5f8;
}
