.container {
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    top: -10px;
}

.userList {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.door {
    background-color: var(--color-white);
    height: 2px;
    width: 70px;
    display: block;
    position: absolute;
}
