.roomChatContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.roomContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.rooms {
    width: 856px;
    display: grid;
    grid-template-columns: repeat(4, 216px);
    grid-auto-rows: 150px;
    grid-gap: 2px;
}

.roomsWidthSmall {
    grid-column: span 1;
}

.roomsWidthMedium {
    grid-column: span 2;
}

.roomsWidthLarge {
    grid-column: span 3;
}

.roomsHeightSmall {
    grid-row: span 1;
}

.roomsHeightMedium {
    grid-row: span 2;
}

.roomsHeightLarge {
    grid-row: span 3;
}

.height100Percent {
    height: 100%;
}

.logoutContainer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 1150px) {
}
