<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A virtual office app" />
        <link href="/scripts.css" rel="stylesheet" />
        <title>Virtual Office</title>
    </head>
    <body>
        <script>
            const INITIAL_CLIENT_DATA = {
                <% if (typeof username !== "undefined") { %>
                username: "<%= username %>",
                <% } %>
            }
        </script>
        <div id="root"></div>
        <script src="/scripts.js"></script>
    </body>
</html>
